#navbar {
    background-color: #f9a857;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    padding: 25px;
}

.title a {
    color: white;
    font-size: 35px;
    margin-left: 25px;
    text-decoration: none;
    font-weight: bold;
}

.nav-button a{
    color: white;
    font-size: 25px;
    margin-right: 25px;
    text-decoration: none;
    font-weight: bold;
}

